@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    margin-top: 50px;
}

.under-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 301px;
    margin: 10px auto 50px;
}

.form {
    display: grid;
    max-width: 600px;
    height: 800px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}

input {
    width: 277px;
    height: 59px;
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
    margin-top: 6px;
    padding: 20px 12px;
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
}

.imp {
    border: 2px solid black;

}

.inp-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 16px;
    height: 17px;
    display: none;

}

.valuable label {
    color: black;
}

.valuable span {
    font-weight: 400;
    font-size: 11px;
    color: #595959;
}

button {
    width: 277px;
    height: 59px;
    background: #4200FF;
    border: 2px solid #4200FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    bottom: -520px;
    left: 530px;
    cursor: pointer;
    transition: 1s ease;
}

.red-alert {
    border: 2px solid red;

}

.red-btn {
    border: none;
    background: red;
}